[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==0.22"
alpaca-trade-api = {git = "https://github.com/AndriyZav/sma-algo2/alpaca-trade-api.git", editable = true, ref = "v0.27"}
pipeline-live = "==0.1.4"
pylivetrader = "==0.0.13"
ipython = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
